{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}信息技术教学网 - 作业评价{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>作业评价</h1>
</div>
<div class="row">
	<div class="col-md-4">
		{{ wtf.quick_form(form) }}
	</div>
</div>
{% if stuworks == None %}
<div>
	<h3>找不到作业</h3>
</div>
{% else %}
<div class="row">
	<div class="col-md-8">
		<h3>作业列表</h3><p>（如果不能下载，右击超链接并选择“目标另存为”）</p>
		<table align="center" id="students">
		<tr>
			<td>学号</td><td>姓名</td><td>小组</td><td>作业</td><td>作业成绩</td>
		</tr>
		{% for student in students %}
			<tr>
				<td>{{ student.studentid }}</td>
				<td><a href="{{ url_for('tea.edit_student', id=student.id) }}">{{ student.username }}</a></td>
				<td>{{ student.group }}</td>
				<td>
					{% for stuwork in stuworks %}
						{% if stuwork.studentid == student.studentid %}
							{% set filename = 'stuwork/' + student.classname + '/' + stuwork.weeknum|string + '/' + stuwork.filename %}
							<a href="{{ url_for('static', filename = filename) }}" target="_blank" download>点击下载作业</a>
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{% for stuwork in stuworks %}
						{% if stuwork.studentid == student.studentid %}
							{{ stuwork.workscore }}分
						{% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endif %}
{% endblock %}
